<div class="modal-header">
    <h4 class="modal-title pull-left">Visualizar logs</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
        <div class="card-body">
            <div class="mb-6">
               
                <div class="row">
                    <div class="col-md-3">
                        {{logModel.date | date: 'dd/MM/yyyy HH:mm'}}
                    </div>
                    <div class="col-md-6">
                        {{logModel.projectName}}
                    </div>
                    <div class="col-md-3">
                        <span [ngClass]="getStatusCss(logModel.logType)" class="label label-inline font-weight-bold">
                            {{getNameType(logModel.logType)}}
                        </span>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-12">
                        <label class="h6"><strong>Descrição:</strong></label>
                        <p>{{logModel.description}}</p>
                        <label class="h6"><strong>Erro:</strong></label>
                        <p>{{logModel.source}}</p>
                    </div>
                  
                </div>

                    
            </div>
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary btn-sm font-weight-bold ml-2"
        (click)="bsModalRef.hide()">Sair</button>
</div>